body {
  background-image: url(Images/points.gif);
}

.golazo9 {
  width: 200px;
  background-image: url(Images/points.gif);
}
.golazo9:hover {
  cursor: pointer;
  filter: invert(1);
  width: 200px;
  border-radius: 99%;
  background-image: url(Images/points.gif);
}

.wewon9 {
  background-image: url(Images/points.gif);
}

body > div > div > div.col-sm.golazo9 > img {
  background-image: url(Images/points.gif);
}

.founder {
  margin-left: 999px;
  margin-top: 249px;
  color: white;

  font-family: MONOSPACE;
}

body > div > div > div.col-sm.golazo9 > a > img {
  width: 409px;
  margin-left: 485px;
  margin-top: 144px;
}
