html {
  scroll-behavior: smooth;
}

#logotestpage {
  align-items: center;
  width: 100px;
}

#welcome {
  margin-left: 450px;
  margin-top: -75px;
}
#logotestpage:hover {
  cursor: pointer;
  width: 100px;
  cursor: pointer;
  align-items: center;
}

#logotestpage1 {
  width: 100px;
}

#progressisreal22 {
  float: right;
  margin-top: 120px;

  color: rgb(10, 10, 10);
}

.T4T9 {
  height: 270px;
  border-top-left-radius: 100%;

  height: 275px;
}

.leftq {
  background: aliceblue;
  border: 9px solid rgba(176, 224, 229, 0.4);
  float: left;

  border-radius: 2%;
  height: 325px;
  width: 250px;

  /* background-color: rgb(89, 245, 245, 0.456789); */
}
.leftq {
  border: 9px solid rgba(176, 224, 229, 0.4);
  float: left;

  border-radius: 2%;
  height: 325px;
  width: 250px;

  /* background-color: rgb(89, 245, 245, 0.456789); */
}
.leftq12 {
  height: 200px;
  background: aliceblue;
  border: 9px solid rgba(176, 224, 229, 0.4);
  float: left;

  border-radius: 2%;

  width: 250px;

  /* background-color: rgb(89, 245, 245, 0.456789); */
}

.midq {
  border-radius: 2%;
  float: left;
  height: 210px;
}

.midq2 {
  background-color: #69696963;
  border-top-right-radius: 95%;

  border-radius: 2%;
  float: left;
  height: 235px;

  margin-top: -30px;
}

.an9 {
  float: left;
  height: 34px;
  width: 34px;
}

.aa9,
.aa10,
.aa11,
.aa12 {
  float: left;
}
.aa99 {
  border-radius: 20%;
  float: left;
}
.aa99:hover {
  cursor: pointer;
  border-radius: 20%;
  float: left;
}

#theImg {
  filter: invert(1);
  margin-top: -238px;
  overflow: auto;
  margin-left: 23px;
}
#theImg2 {
  filter: invert(1);
  border-radius: 2%;
  border: 2px solid rgb(0, 0, 0, 0.08);

  margin-top: -238px;
  overflow: auto;
  margin-left: 23px;
}

#a1:hover,
#a2:hover,
#a3:hover,
#a11:hover,
#a12:hover,
#a13:hover,
#a21:hover,
#a22:hover,
#a23:hover,
#b1:hover,
#b2:hover,
#b3:hover,
#b11:hover,
#b12:hover,
#b13:hover,
#b21:hover,
#b22:hover,
#b23:hover,
#c1:hover,
#c2:hover,
#c3:hover,
#c11:hover,
#c12:hover,
#c13:hover,
#c21:hover,
#c22:hover,
#c23:hover,
#d1:hover,
#d2:hover,
#d3:hover,
#d11:hover,
#d12:hover,
#d13:hover,
#d21:hover,
#d22:hover,
#d23:hover,
#e1:hover,
#e2:hover,
#e3:hover,
#e11:hover,
#e12:hover,
#e13:hover,
#e21:hover,
#e22:hover,
#e23:hover,
#f1:hover,
#f2:hover,
#f3:hover,
#f11:hover,
#f12:hover,
#f13:hover,
#f21:hover,
#f22:hover,
#af23:hover {
  cursor: pointer;
  border-radius: 59%;
  cursor: crosshair;
  background-color: rgb(154, 205, 50, 0.245);
}

/* #a2 {
  border: 6px solid black;
  height: 68px;
  width: 68px;
  background-color: yellow;
} */
/* 
//yellow grid// */

#ay1 {
  background-color: #ffffe6;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#ayad {
  height: 68px;
  width: 68px;
}
#ay1 {
  background-color: #ffffe6;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#ay1:hover {
  cursor: pointer;
  background-color: #ffffe6;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}

#ay2 {
  background-color: #ffff00;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#ay3 {
  background-color: #99ff33;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#ay4 {
  background-color: #009933;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#ay5 {
  background-color: #000000;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}

#by1 {
  background-color: #ebf0ff;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#by2 {
  background-color: #0066ff;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#by3 {
  background-color: #0033cc;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#by4 {
  background-color: #ffad33;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#by5 {
  background-color: #808080;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}

#cy1 {
  background-color: #ffcccc;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#cy2 {
  background-color: #ff0000;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#cy3 {
  background-color: #990000;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#cy4 {
  background-color: #862d86;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#cy5 {
  background-color: #ffffff;
  border: 6px solid black;
  height: 68px;
  width: 68px;
}
#ay2:hover {
  cursor: pointer;
  background-color: #ffff00;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#ay3:hover {
  cursor: pointer;
  background-color: #99ff33;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#ay4:hover {
  cursor: pointer;
  background-color: #009933;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#ay5:hover {
  cursor: pointer;
  background-color: black;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}

#by1:hover {
  cursor: pointer;
  background-color: #ebf0ff;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#by2:hover {
  cursor: pointer;
  background-color: #0066ff;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#by3:hover {
  cursor: pointer;
  background-color: #0033cc;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#by4:hover {
  cursor: pointer;
  background-color: #ffad33;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#by5:hover {
  cursor: pointer;
  background-color: grey;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}

#cy1:hover {
  cursor: pointer;
  background-color: #ffcccc;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#cy2:hover {
  cursor: pointer;
  background-color: #ff0000;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#cy3:hover {
  cursor: pointer;
  background-color: #990000;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#cy4:hover {
  cursor: pointer;
  background-color: #862d86;
  border: 1px solid white;
  height: 68px;
  width: 68px;
}
#cy5:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  height: 68px;
  width: 68px;
}

/* 
//blue grid// */
.T1 {
  margin-left: -10px;
  width: 366px;
}

body
  > div
  > div:nth-child(4)
  > div.col-12.T4T9
  > div.col-5.midq2
  > div:nth-child(1) {
  margin-top: 64px;
}

.CT99 {
  width: 366px;
}

body > div > div:nth-child(4) > div.good > a {
  float: RIGHT;
}

.growth9 {
  margin-top: -40px;
  cursor: pointer;
  float: left;
}
.growth49 {
  margin-top: -40px;
  cursor: pointer;
  float: left;
}
#growth9:hover {
  color: darkseagreen;
  font-style: italic;
}
#growth99:hover {
  color: darkseagreen;
  font-style: italic;
}
#growth39 {
  color: darkseagreen;
  font-style: italic;
}

.growth9:hover {
  margin-top: -40px;
  cursor: pointer;
  float: left;
}
.growth49:hover {
  margin-top: -40px;
  cursor: pointer;
  float: left;
}
.ugh {
  visibility: hidden;
}
.inner9 {
  padding: 17px;
  height: 300px;
  margin-top: 40px;
  margin-left: -45px;
  /* background-color: rgb(255, 248, 220, 0.4); */
  border: 10px solid white;
  border-radius: 9%;
  width: 246px;
}

.inner99 {
  margin-top: -135px;
  height: 240px;

  width: 426px;
  margin-left: 2px;

  margin-left: -28px;
  width: px;
  width: 425px;
  overflow-y: scroll;
  /* height: 178px; */
  /* margin-top: 40px; */
  margin-left: 11px;
  background-color: rgb(222, 248, 180, 0.3);
  border: 5px solid lightcyan;
}
.inner499 {
  width: 426px;
  margin-left: 2px;

  margin-left: -28px;
  width: px;
  width: 425px;
  overflow-y: scroll;
  height: 178px;
  /* margin-top: 40px; */
  margin-left: 11px;
  background-color: rgb(222, 248, 180, 0.3);
  border: 5px solid lightcyan;
}

.infortant {
  background: aliceblue;

  height: 246px;
  margin-top: -11px;
  border-radius: 2%;
  border: 1px;
  border: solid 6px white;
}

#RDPE {
  font-size: smaller;
}

body
  > div
  > div:nth-child(4)
  > div.col-12.T4T9
  > div.col-5.midq2
  > div:nth-child(1) {
  margin-left: -10px;
}
body
  > div
  > div:nth-child(4)
  > div.col-12.T4T9
  > div.col-5.midq2
  > div:nth-child(2) {
  margin-left: -10px;
}
body
  > div
  > div:nth-child(4)
  > div.col-12.T4T9
  > div.col-5.midq2
  > div:nth-child(3) {
  margin-left: -10px;
}
body
  > div
  > div:nth-child(4)
  > div.col-12.T4T9
  > div.col-5.midq2
  > div:nth-child(4) {
  margin-left: -10px;
}
body
  > div
  > div:nth-child(4)
  > div.col-12.T4T9
  > div.col-5.midq2
  > div:nth-child(5) {
  margin-left: -10px;
}
body
  > div
  > div:nth-child(4)
  > div.col-12.T4T9
  > div.col-5.midq2
  > div:nth-child(6) {
  margin-left: -10px;
}

#ma9t9 {
  text-align: right;
  font-size: 14px;
}
#ma9t91 {
  text-align: right;

  font-size: 23px;
}

.wawa {
  filter: drop-shadow();
}
.wuh9n {
  background-color: rgba(255, 255, 0, 0.09);
  border-bottom-right-radius: 100%;
}

#bienvenue {
  margin-top: 22px;
  text-align: right;
}

.rigq {
  float: left;
  margin-left: -60px;
}

#realusers {
  text-align: right;
}

.hdog {
  height: 215px;
  margin-top: 30px;
}

#yingyang {
  text-align: right;
}

#yingyang2 {
  text-align: right;
}

body > div > div:nth-child(4) {
  color: white;
}

body > div {
  color: white;
}

.leftq12 {
  color: white;
  background: black;
}

#welcome {
  font-family: monospace;
}

body > div > div.row.a {
  background-color: transparent;
}

body > div > hr {
  margin-top: 25px;
  background-color: yellowgreen;
}

.hdog {
  background: black;
}

body > div > div.col-12.T4T9 > div.col-5.midq2 {
  width: 397px;
  margin-left: 9px;
}

.growth9 {
  margin-left: 44px;
}

.rest1 {
  background: black;
}

.inner99::-webkit-scrollbar {
  display: none;
}

.inner99 {
  background: black;
}

#progressisreal2 {
  margin-top: -262px;
  margin-left: 235px;
  width: 173px;
}
